.toolbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}

.spacer {
    height: 70px;
    width: 180px;
}

.logo-div {
    margin: auto;
    display: flex;
}

.logo {
    width: 70%;
    margin: auto;
}

.menu{
    height: 70px;
    width: 180px;
    display: flex;
    cursor: pointer;
}

.counter{
    margin: auto;
    font-size: 18px;
    color: red;
}