.root {
    min-height: 500px;
}

.notifications{
    width: 100%;
}

.action-btn {
    position: absolute;
    display: grid;
    height: 700px;
    width: 100%;
}

.bottom {
    width: 100%;
    margin: auto auto 0 auto;
    text-align: center;
}