.notification {
    min-height: 50px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 7px 15px rgb(177, 177, 177);
    border-radius: 5px;
    display: flex;
}

.image {
    height: inherit;
    width: 20%;
    display: flex;
}

.img-inside {
    height: 40px;
    margin: auto;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 10px;
}

.time {
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    width: 70px;
}

.link {
    margin-bottom: 15px;
}